/* Estilos gerais */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f8f8f8;
    color: #333;
  }
  
  h1, h2, h3 {
    color: #333;
  }
  
  a {
    text-decoration: none;
    color: #333;
  }
  
  /* Estilos do cabeçalho */
  header {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
  }
  
  nav li {
    display: inline;
    margin-right: 20px;
  }
  
  /* Estilos das seções */
  section {
    padding: 50px 0;
  }
  
  .container {
    max-width: 960px;
    margin: 0 auto;
    padding: 0 20px;
  }
  
  /* Estilos dos projetos */
  .project {
    margin-bottom: 30px;
    background-color: #fff;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
  }
  
  .project:hover {
    transform: translateY(-5px);
  }
  
  .project h3 {
    margin-top: 0;
  }
  
  /* Estilos do rodapé */
  footer {
    background-color: #333;
    padding: 20px;
    text-align: center;
  }
  
  footer p {
    color: #fff;
  }
  
  /* Estilos da seção de contato */
  #contato input,
  #contato textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #f8f8f8;
  }
  
  #contato textarea {
    height: 120px;
  }
  
  #contato button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  #contato button:hover {
    background-color: #555;
  }
  